/**{*/
/*    font-family: arial, serif;*/
/*}*/

.containerProjekt{
    margin-bottom: 60px;
}

.ProjektItem {
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.color{
    color: #0055ff;
}

.border-purple{
    border: #0055ff 3px solid;
}


@media (max-width: 992px) {

    .text-r{font-size: 14px;}
}