.info-container {
    max-width: 557px;
}

.date{
    color: #AA4AF9;
    margin-bottom: 25px;
}

.title{
    margin-bottom: 10px;
}

@media (max-width: 1404px) {
    .info-container {
        max-width: 500px;
    }
}

@media (max-width: 1200px) {

    .info-container{
        max-width: 450px;

    }
}

@media (max-width: 990px) {

    .info-container{
        max-width: 400px;

    }
}