.containerProjekt{
    margin-bottom: 60px;
}

.ProjektItem {
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.color{
    color: #AA4AF9;
}

.border-purple{
    border-color: #AA4AF9;
    border-width: 1px;
    border-style: solid;
}