.sprache-container {
    display: flex;
    align-items: center;
    padding: 3px 15px 3px 10px;
    border-radius: 15px;


}

.sprache-image {
    height: auto;
}

.sprache-text {
    margin-left: 5px;
    font-size: 10px;
    font-weight: bold;
    /*color: white;*/
}

.html{
    background-color: #ED6131;
}

.css{
    background-color: #0899DD;
}

.js{
    background-color: #F1C129;
}

.bs{
    background: #7B18F7;
}

.react{
    background: #5ED3F3;
}

.php{
    background: #7B7FB5;
}

.mysql{
    background: #087993;
}