.containerTech {
    background-color: #2a2a2a;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center; /* Vertikal zentrieren */
    text-align: center; /* Text zentrieren */
    padding: 10px 20px;
    width: 200px;
}

.sprache-image {
    height: auto;
}

.text {
    font-size: 18px;
    font-weight: bold;
    color: #f9f9f9;
    text-align: center; /* Text innerhalb des Elements zentrieren */
}

.containerTechStack {
    width: 60%;
    margin: auto;
}

.container-grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
    align-items: center; /* Zentriert die Inhalte vertikal */
    justify-items: center; /* Zentriert die Inhalte horizontal */
}


@media (max-width: 712px) {

    .text {
        font-size: 14px;
    }

    .sprache-image {
        max-width: 20px;
    }

    .containerTech {
        border-radius: 12px;
        padding: 10px 10px;
        width: 150px;
    }
}

@media (max-width: 516px) {

    .text {
        font-size: 12px;
    }

    .sprache-image {
        max-width: 15px;
    }

    .containerTech {
        border-radius: 12px;
        padding: 10px 15px;
        width: 100px;
    }
}

@media (max-width: 358px) {

    .text {
        font-size: 8px;
    }

    .sprache-image {
        max-width: 13px;
    }

    .containerTech {
        border-radius: 12px;
        padding: 10px 15px;
        width: 80px;
    }
}


/*@media (max-width: 600px) {*/
/*    .container-grid {*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/

/*@media (min-width: 601px) and (max-width: 1024px) {*/
/*    .container-grid {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*    }*/
/*}*/

/*@media (min-width: 1025px) {*/
/*    .container-grid {*/
/*        grid-template-columns: repeat(4, 1fr);*/
/*    }*/
/*}*/

